{block content}


        <div class="row">

            <!-- /.col-lg-6 -->
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Kategorie textů
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                <tr>
                                    <th>#</th>
                                    <th>Jméno</th>
                                    <th>Počet textů</th>
                                    <th>Nastroje</th>
                                </tr>
                                </tr>
                                </thead>
                                <tbody>
                                {foreach $textCategories as $category}
                                    {include #table-row 'category' => $category}
                                {/foreach}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <a class="btn btn-info" href="{plink TextCategories:addTextCategory}">Přidej kategorii textu</a>
    {/block}

    {define #table-row}
        <tr>
            <td>{$category->id}</td>
            <td>{$category->name}</td>
            <td>{count($category->texts)}</td>
            <td><a href="{plink TextCategories:editTextCategory id => $category->id}">Upravit</a> | <a href="{plink deleteTextCategory! id => $category->id}">delete</a> </td>
        </tr>
    {/define}
