{block}
    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div class="left">

                <a href="{plink MonthSetHollidays:default $month_set->id}" class="btn btn-app btn-primary">
                    <i class="ace-icon fa fa-refresh bigger-230"></i>
                    Volno
                </a>

                <a href="{plink MonthSetExtraPays:default $month_set->id}" class="btn btn-app btn-success">
                    <i class="ace-icon fa fa-refresh bigger-230"></i>
                    Odměny
                </a>

            </div>
            <div class="space-12"></div>
        </div>

    </div>
{/block}