{block}
    <p>
        Dobrý den,<br>
        Byla Vám vytvořena registrace pro subjekt "{$MainSubject}"
        <br />
        <br />
        <strong>Přihlašovací údaje:</strong><br>
        <strong>Login:</strong> {$login}<br>
        <strong>Heslo:</strong> {$pass}<br>

    <p>

    </p>
    Přihlášení platí do portálu scholasevis <a href="http://portal.scholaservis.cz">Zde</a>
    </p>
{/block}