{block content}

    <div class="row">

        <!-- /.col-lg-6 -->
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Činnosti zaměstnance {if isset($employee)} {$employee->f_name} {$employee->l_name} {/if}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                            <tr>
                                <th class="center">Číslo činnosti</th>
                                <th>Název</th>
                                <th>oscis</th>
                                <th>Nástroje</th>
                            </tr>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $commitments as $commitment}
                                {include #table-row 'commitment' => $commitment}
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    {if isset($employee_id)}
        <a href="{plink Commitment:addCommitment $employee_id }">Přidej činnost</a>
    {/if}
{/block}

{define #table-row}
    <tr>
        <td>{$commitment->commitment_num}</td>
        <td>{$commitment->name}</td>
        <td>{$commitment->v_id}</td>
        <td><a href="">činnost</a> | <a href="{plink Commitment:editCommitment $commitment->id}">edit</a> | <a href="">smazat</a> </td>
    </tr>
{/define}
