{block}
    <div class="row">
        <div class="col-xs-12">
            <a href="{plink MonthSet:lockMonthSet $month_set->id}" class="btn btn-warning">Přejít k uzamčení</a>
        </div>
    </div>
{/block}