{block content}

    <div class="row">
        <div class="col-xs-12">
            <h3 class="header smaller lighter green">Kategorie</h3>

            <p></p>

            <a href="{plink MonthSet:default}" class="btn btn-app btn-success">
                <i class="ace-icon fa fa-money bigger-230"></i>
                Měsíce
            </a>
            {*}
            <a href="#" class="btn btn-app btn-info">
                <i class="ace-icon fa fa-envelope bigger-230"></i>
                Zprávy
            </a>
            *}
            <a href="{plink Employee:default}" class="btn btn-app btn-warning">
                <i class="ace-icon fa fa-user bigger-230"></i>
                <span style="font-size: small">Zaměstnanci</span>
            </a>

            <a href="{plink Kontakty:default}" class="btn btn-app btn-info">
                <i class="ace-icon fa fa-phone bigger-230"></i>
                <span style="font-size: small">Kontakty</span>
            </a>

        </div>

    </div>
{/block}
