{block content}

    <div class="row">

        <!-- /.col-lg-6 -->
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Sady typu příplatků
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                            <tr>
                                <th>#</th>
                                <th>Název</th>
                                <th>Nastroje</th>
                            </tr>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $main_subject_extra_pay_types as $subject}
                                {include #table-row 'subject' => $subject}
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <a class="btn btn-info" href="{plink MainSubjectExtraPayType:add}">Přidej sadu</a>
{/block}

{define #table-row}
    <tr>
        <td>{$subject->id}</td>
        <td>{$subject->name}</td>
        <td><a href="{plink MainSubjectExtraPayType:edit $subject->id}">Edit</a> | <a href="{plink delete! $subject->id}">Delete</a> </td>
    </tr>
{/define}
