{block content}
    {include '../common/_monthSetHollidayCommonMenuTom.latte'}
    <div class="row">
        <div class="col-sm-12">
            <div class="tabbable">
                {include '../common/_monthSetExtraPayCommonMenu.latte'}

                <div class="tab-content">
                    <div id="home" class="tab-pane fade active in">
                        <p>
                        <div class="itemdiv dialogdiv">
                            <div class="user">
                                <img alt="Hubert" src="{$basePath}/assets/avatars/avatar4.png">
                            </div>

                            <div class="body">
                                {*}<div class="time">
                                    <i class="ace-icon fa fa-clock-o"></i>
                                    <span class="orange">2 min</span>
                                </div>
                                *}
                                <div class="name">
                                    Hubert radí :)
                                </div>
                                <div class="text">
                                    Do této položky se vkládá vše, co neodpovídá přednastaveným typům odměn. A nezapomeňte na poznámku, aby bylo jasné, podle čeho zpracovat!
                                </div>

                            </div>
                        </div>
                        </p>
                        {control form}

                        <!-- /.col-lg-6 -->
                        <div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Odměmny {$month_set->month|date:' m/ Y'}
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>

                                            {include #table-head}

                                            </thead>
                                            <tbody>
                                            {foreach $pays as $pay}
                                                {include #table-row 'pay' => $pay}
                                            {/foreach}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.panel-body -->
                            </div>
                            <!-- /.panel -->
                        </div>
                        <!-- /.col-lg-6 -->

                    </div>

                    {include '../common/_monthSetComonFooter.latte'}


                    {*}<div id="messages" class="tab-pane fade">
                        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.</p>
                    </div>

                    <div id="dropdown1" class="tab-pane fade">
                        <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade.</p>
                    </div>

                    <div id="dropdown2" class="tab-pane fade">
                        <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin.</p>
                    </div>*}
                </div>
            </div>
        </div><!-- /.col -->

    </div>



{/block}

{define #table-head}
    <tr>
        <th>#</th>
        <th>Zaměstnanec</th>
        <th>Činnost</th>
        <th>Zdroj financování</th>
        <th>Částka</th>
        <th>Počet hodin</th>
        <th>Nástroje</th>
    </tr>

{/define}

{define #table-row}
    <tr>
        <td>{$pay->id}</td>
        <td>{if $pay->employee}{$pay->employee->getFullName()} {else} - {/if}</td>
        <td>{if $pay->commitment == null}-{else}{$pay->commitment->name}{/if}</td>
        <td>{if $pay->financing} {$pay->financing->name} {else} <span class="red">neurčeno</span> {/if}</td>
        <td>{if $pay->amount} {$pay->amount} {else} - {/if}</td>
        <td>{if $pay->hours} {$pay->hours} {else} - {/if}</td>
        <td><a href="{plink delete! $pay->id}"><i class="fa ace-icon fa-close red"></i></a> </td>
    </tr>
{/define}

{block #css}
    <link href="{$basePath}/assets/css/chosen.min.css" rel="stylesheet" type="text/css">
{/block}

{block #scripts}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{$basePath}/assets/js/chosen.jquery.min.js"></script>

    <script>

        function checkFormStatus() {

            var employeeSelect = $('.extra-pay-form-employee-select').val();
            var commitmentSelect = $('.commitment-select option').length;

            console.log(commitmentSelect);
            if( employeeSelect == 0 || commitmentSelect < 2 ) {
                $('.submit').prop('disabled', true);
                $('#form-amount').prop('disabled', true);
                $('#form-hours').prop('disabled', true);
                if(commitmentSelect < 2)
                    $('.commitment-select').prop('disabled', true);

            }
            else {

                if( $('.commitment-select').val() == 0 ) {
                    $('.submit').prop('disabled', true);
                }
                else {
                    $('.submit').prop('disabled', false);
                }
                $('.commitment-select').prop('disabled', false);
            }
        }

        $( document ).ready(function(){
            checkFormStatus();
            $('.extra-pay-form-employee-select').chosen();
            $('.chosen-select').chosen();



        });

        $(document).ajaxComplete(function() {
            checkFormStatus();
            $('.extra-pay-form-employee-select').chosen();
            $('.chosen-select').chosen();
        });

        $(document).on('change', '.extra-pay-form-employee-select', function(e){

            $.nette.ajax({
                type: "GET",
                url: {link form:setEmployee!},
                data: {
                    'form-id': $(this).val()
                },
                success: function(){
                    checkFormStatus();
                }
            });

        });

        $(document).on('change', '.commitment-select', function(e){

            $.nette.ajax({
                type: "GET",
                url: ''{*link form:setCommitment!*},
                data: {
                    'form-id': $(this).val()
                },
                success: function(){
                    checkFormStatus();
                }
            });
            $('#commitment-id').val($(this).val());
        });


    </script>
{/block}