{block content}

		<!-- /.row -->
		{*}<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bar-chart-o fa-fw"></i> Přehled
				</div>
				<div class="panel-body">
					<div id="morris-donut-chart"></div>
					<a href="{plink GdprMap:default}" class="btn btn-default btn-block">Detaily</a>
				</div>
				<!-- /.panel-body -->
			</div>

		</div>
		<!-- /.row -->
*}
		<!-- /.row -->

{/block}
