{block content}

    <div class="row">

        <!-- /.col-lg-6 -->
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Inventární typy
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                            <tr>
                                <th>#</th>
                                <th>Název</th>
                                <th>Část kódu</th>
                                <th>Nastroje</th>
                            </tr>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $itemTypes as $itemType}
                                {include #table-row 'itemType' => $itemType}
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <a class="btn btn-info" href="{plink ItemTypes:addItemType}">Přidej typ</a>
{/block}

{define #table-row}
    <tr>
        <td>{$itemType->id}</td>
        <td>{$itemType->name}</td>
        <td>{$itemType->code_part}</td>
        <td><a href="{plink ItemTypes:editItemType id => $itemType->id}">Upravit</a> | <a href="{plink deleteItemType! id => $itemType->id}">delete</a> </td>
    </tr>
{/define}
