{block content}

    <div class="row">

        <!-- /.col-lg-6 -->
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Texty
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                            <tr>
                                <th>#</th>
                                <th>Jméno</th>
                                <th>Kategorie</th>
                                <th>Nastroje</th>
                            </tr>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $texts as $text}
                                {include #table-row 'text' => $text}
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <a class="btn btn-info" href="{plink Texts:addText}">Přidej text</a>
{/block}

{define #table-row}
    <tr>
        <td>{$text->id}</td>
        <td>{$text->text|truncate:150}</td>
        <td>{if isset($text->text_category->name)}{$text->text_category->name}{else}-{/if}</td>
        <td><a href="{plink Texts:editText id => $text->id}">Upravit</a> | <a href="{plink deleteText! id => $text->id}">delete</a> </td>
    </tr>
{/define}
