{block content}

    <div class="row">

        <!-- /.col-lg-6 -->
        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Zaměstnanci {if isset($main_subject)} Subjektu {$main_subject->name} {/if}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                            <tr>
                                <th>#</th>
                                <th>Jméno</th>
                                <th>RČ</th>
                                <th>oscis</th>
                                <th>Nástroje</th>
                            </tr>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $employees as $employee}
                                {include #table-row 'employee' => $employee}
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    {if isset($main_subject_id)}
        <a class="btn btn-info" href="{plink Employee:addEmployee $main_subject_id }">Přidej zaměstnance</a>
    {/if}
{/block}

{define #table-row}
    <tr>
        <td>{$employee->id}</td>
        <td>{$employee->f_name} {$employee->l_name}</td>
        <td>{$employee->id_num}</td>
        <td>{$employee->oscis}</td>
        <td><a href="{plink Commitment:default employee_id => $employee->id}">činnost [{count($employee->commitments)}]</a> | <a href="{plink Employee:editEmployee id => $employee->id}">edit</a> | <a href="{plink DeleteEmployee! $employee->id}">delete</a> </td>
    </tr>
{/define}
